# WER Curve Fit
This is a function that fits the given data for aircrafts with similar designs to a WER equation
The fit equation is in the form of 
\begin{gather*}
    \frac{W_e}{W_o} = a + b (W_o)^c (AR)^d  (T_{sl}/W_o)^e  (W_o/S)^f  (V_{max})^g
\end{gather*}

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
import pandas as pd

In [2]:
# Function to fit the data 
def func(x, a, b, c, d, e, f, g):
    return a + b*x[0]**c * x[1]**d * x[2]**e * x[3]**f * x[4]**g

In [5]:
# Import the data with pandas
df = pd.read_csv('initial_wer_data.csv')

In [6]:
df

,Aircraft,We (kg,W0 (kg),We/W0,AR,TWR,S (m^2),W0/S (N/m^2),Vmax (knots),Vmax(m/s)
0,Embraer Phenom 100,3275,4800,0.682292,8.053361,0.327047,18.766400,255.776281,400,205.777600
1,AgustaWestland AW609,4765,7620,0.625328,2.793673,0.379790,49.000000,155.510204,275,141.472100
2,HondaJet HA420,3267,4854,0.673053,8.500000,0.382210,17.281694,280.875241,422,217.095368
3,Cessna M2 CJ1,3171,4853,0.653410,9.298655,0.367166,22.300000,217.623318,404,207.835376
4,Pilatus PC-24,4965,8300,0.598193,9.350000,0.390000,30.910000,268.521514,440,226.355360
5,Sino Swearingen SJ30,4045,6328,0.639223,9.427474,0.322177,17.651600,358.494414,486,250.019784
6,Hawker 400XPR,4763,7394,0.644171,7.957628,0.392638,22.430000,329.647793,468,240.759792
7,Spectrum S-40 Freedom,3107,4336,0.716559,9.612438,0.350290,20.100000,215.721393,440,226.355360
8,Pegasus VBJ,3040,5700,0.533333,4.427931,0.601793,46.700000,122.055675,410,210.922040

In [7]:
xdata = df.iloc[:,[2,4,5,7,9]]
xdata

   W0 (kg)        AR       TWR  W0/S (N/m^2)  Vmax(m/s)
0     4800  8.053361  0.327047    255.776281  205.777600
1     7620  2.793673  0.379790    155.510204  141.472100
2     4854  8.500000  0.382210    280.875241  217.095368
3     4853  9.298655  0.367166    217.623318  207.835376
4     8300  9.350000  0.390000    268.521514  226.355360
5     6328  9.427474  0.322177    358.494414  250.019784
6     7394  7.957628  0.392638    329.647793  240.759792
7     4336  9.612438  0.350290    215.721393  226.355360
8     5700  4.427931  0.601793    122.055675  210.922040

In [8]:
ydata = df.iloc[:,3]
ydata

0    0.682292
1    0.625328
2    0.673053
3    0.653410
4    0.598193
5    0.639223
6    0.644171
7    0.716559
8    0.533333
Name: We/W0, dtype: float64

In [9]:
xdata = np.array(xdata).transpose()
ydata = np.array(ydata)

In [10]:
popt, pcov = curve_fit(func, xdata, ydata, bounds=((-3, 3)))

In [11]:
# The coefficients a, b, c, d, e, f, and g are 
popt

array([-0.93406157,  3.        , -0.07269635,  0.00401527, -0.09722277,
        0.0290933 , -0.05112156])

In [12]:
# The covariance was
pcov

array([[ 4.04402109e+03, -2.69424273e+03, -1.85762444e+02,
         1.22992720e+01, -2.51237659e+02,  7.78601168e+01,
        -1.39973330e+02],
       [-2.69424273e+03,  1.80151642e+03,  1.23684509e+02,
        -8.10691273e+00,  1.67634784e+02, -5.17444222e+01,
         9.28527583e+01],
       [-1.85762444e+02,  1.23684509e+02,  8.53619170e+00,
        -5.63675090e-01,  1.15378015e+01, -3.57936394e+00,
         6.43117638e+00],
       [ 1.22992720e+01, -8.10691273e+00, -5.63675090e-01,
         4.16237006e-02, -7.60396716e-01,  2.36794767e-01,
        -4.34120756e-01],
       [-2.51237659e+02,  1.67634784e+02,  1.15378015e+01,
        -7.60396716e-01,  1.56251507e+01, -4.82866910e+00,
         8.67780945e+00],
       [ 7.78601168e+01, -5.17444222e+01, -3.57936394e+00,
         2.36794767e-01, -4.82866910e+00,  1.50565478e+00,
        -2.70349532e+00],
       [-1.39973330e+02,  9.28527583e+01,  6.43117638e+00,
        -4.34120756e-01,  8.67780945e+00, -2.70349532e+00,
         4.87597895e+00]])