# WER Curve Fit
This is a function that fits the given data for aircrafts with similar designs to a WER equation
The fit equation is in the form of 
\begin{gather*}
    \frac{W_e}{W_o} = a + b (W_o)^c (AR)^d  (T_{sl}/W_o)^e  (W_o/S)^f  (V_{max})^g
\end{gather*}

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from scipy.optimize import curve_fit
import pandas as pd

In [2]:
# Function to fit the data 
def func(x, a, b, c, d, e, f, g):
    return a + b*x[0]**c * x[1]**d * x[2]**e * x[3]**f * x[4]**g

In [32]:
# Import the data with pandas
df = pd.read_csv('initial_wer_data_v3.csv')

In [33]:
df

,Aircraft,We (kg,W0 (kg),We/W0,AR,TWR,S (m^2),W0/S (N/m^2),Vmax (knots),Vmax(m/s)
0,Embraer Phenom 100,3275.0,4800.0,0.68,8.05,0.33,18.77,255.78,400.0,205.78
1,AgustaWestland AW609,4765.0,7620.0,0.63,2.79,0.38,49.00,155.51,275.0,141.47
2,HondaJet HA420,3267.0,4854.0,0.67,8.50,0.38,17.28,280.88,422.0,217.10
3,Sino Swearingen SJ30,4045.0,6328.0,0.64,9.43,0.32,17.65,358.49,486.0,250.02
4,Hawker 400XPR,4763.0,7394.0,0.64,7.96,0.39,22.43,329.65,468.0,240.76
5,Spectrum S-40 Freedom,3107.0,4336.0,0.72,9.61,0.35,20.10,215.72,440.0,226.36
6,Pegasus VBJ,3040.0,5700.0,0.53,4.43,0.60,46.70,122.06,410.0,210.92

In [34]:
xdata = df.iloc[:,[2,4,5,7,9]]
xdata

   W0 (kg)    AR   TWR  W0/S (N/m^2)  Vmax(m/s)
0   4800.0  8.05  0.33        255.78      205.78
1   7620.0  2.79  0.38        155.51      141.47
2   4854.0  8.50  0.38        280.88      217.10
3   6328.0  9.43  0.32        358.49      250.02
4   7394.0  7.96  0.39        329.65      240.76
5   4336.0  9.61  0.35        215.72      226.36
6   5700.0  4.43  0.60        122.06      210.92

In [35]:
ydata = df.iloc[:,3]
ydata

0    0.68
1    0.63
2    0.67
3    0.64
4    0.64
5    0.72
6    0.53
Name: We/W0, dtype: float64

In [36]:
xdata = np.array(xdata).transpose()
ydata = np.array(ydata)

In [37]:
popt, pcov = curve_fit(func, xdata, ydata, bounds=((-3, 3)))

C:\Users\Tomo\anaconda3\lib\site-packages\scipy\optimize\minpack.py:828: OptimizeWarning: Covariance of the parameters could not be estimated
  warnings.warn('Covariance of the parameters could not be estimated',

In [38]:
# The coefficients a, b, c, d, e, f, and g are 
popt

array([-0.49109324,  2.99999998,  0.28234368,  0.47475339, -0.04233889,
       -0.18632609, -0.6257303 ])

In [39]:
# The covariance was
pcov

array([[inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf],
       [inf, inf, inf, inf, inf, inf, inf]])